<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'books/css/style.css' %}"media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'books/css/bootstrap.min.css' %}"media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'books/css/starter-template.css' %}"media="screen" title="no title" charset="utf-8">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Belt Reviewer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{% url 'books:add' %}">Add Book and Review</a></li>
            <li><a href="{% url 'login_reg:index' %}">Log Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

          <div class="">
              <h1 style="margin:20px 0px 50px 0px">Welcome, {{request.session.name}}!</h1>
          </div>
          <input type="hidden" name="logged_id" value="{{request.session.logged_id}}">
          <h3>Recent Book Reviews:</h3>
          {% for review in reviews %}
            <div class="book" style="margin:0px 200px 10px 30px; display: inline-block;">
                <h3 style="text-decoration: underline"><a href="{% url 'books:show' id=review.book_id.id  %}">{{review.book_id.title}}</a></h3>
                <h5>rating: </h5><div class="{{review.rating}}"></div>
                <p><a href="{% url 'books:user' id=review.user_id.id  %}">{{review.user_id.alias}}</a> says: </p><p id="italic">{{review.review}}</p>
                <p id="italics">Posted on {{review.created_at}}</p>
            </div>
          {% endfor %}
          <div class="" style="display:inline-block; vertical-align: top;">
            <h4>Other Books with Reviews:</h4>
                <div style='height:80px; width:150px; overflow-y:scroll; border:black 2px solid; -webkit-overflow-scrolling: touch;'>
                    <ul>
                    {% for book in books %}
                    <li><p><a href="{% url 'books:show' id=book.id %}">{{book.title}}</a></p></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
